<div class="container">
  <div class="row">
    <ng-container *ngIf="products.length > 0; else emptyCart">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card d-flex flex-column justify-content-between">
          <img
            [src]="product.image"
            width="200px"
            height="300px"
            [alt]="product.title"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.description }}
            </p>
            
            <p class="card-text">{{ product.price | currency:'EGP' }}</p>
            <div class="d-flex align-items-center justify-content-evenly">
              <p>{{ product.quantity }}</p>
            </div>
        
            <button type="button" class="btn btn-sm btn-outline-secondary rounded-0 " (click)="onAdd(product)">+</button>
            <button type="button" class="btn btn-sm btn-outline-secondary rounded-0 " (click)="onDelete(product)">-</button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="col-md-12 text-center">
        <h3>Cart empty!</h3>
      </div>
    </ng-template>
  </div>
</div>