<div id="center">
    <form [formGroup]="registerForm" class="form-signup text-center d-flex flex-column g-5 " id="regeister">
        <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required autofocus>
        <ng-container *ngIf="registerControl['email']['touched']">
          <p class="mt-2 text-danger" *ngIf="registerControl.email?.errors?.required">
            Email is required
          </p>
          <p class="mt-2 text-danger" *ngIf="registerControl.email?.errors?.email">
            Email is invalid format
          </p>
        </ng-container>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
        <ng-container *ngIf="registerControl['password']['touched']">
          <p class="mt-2 text-danger" *ngIf="registerControl.password?.errors?.required">
            Password is required
          </p>
          <p class="mt-2 text-danger" *ngIf="registerControl.password?.errors?.minlength">
            Password should be at least {{ registerControl.password.errors?.minlength.requiredLength }} characters
          </p>
        </ng-container>
        <button class="btn btn-lg btn-secondary btn-block mt-3" type="submit" [disabled]="registerForm.invalid">Register</button>
        <br>
        <a href="" [routerLink]="['/auth/login']" class="text-secondary pt-5 ">Sign in</a>
      </form>
</div>
